@font-face {
  font-family: "shijianusfont"; /* Project id 2508400 */
  src: url('https://unpkg.com/anzhiyu-theme-static@1.1.9/icon/font_2508400_fpn9ui60u6q.eot?t=1690446183540'); /* IE9 */
  src: url('https://unpkg.com/anzhiyu-theme-static@1.1.9/icon/font_2508400_fpn9ui60u6q.eot?t=1690446183540#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://unpkg.com/anzhiyu-theme-static@1.1.9/icon/font_2508400_fpn9ui60u6q.woff2?t=1690446183540') format('woff2'),
       url('https://unpkg.com/anzhiyu-theme-static@1.1.9/icon/font_2508400_fpn9ui60u6q.woff?t=1690446183540') format('woff'),
       url('https://unpkg.com/anzhiyu-theme-static@1.1.9/icon/font_2508400_fpn9ui60u6q.ttf?t=1690446183540') format('truetype'),
       url('https://unpkg.com/anzhiyu-theme-static@1.1.9/icon/font_2508400_fpn9ui60u6q.svg?t=1690446183540#shijianusfont') format('svg');
}
.shijianusfont {
  font-family: "shijianusfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.shijianus-icon-shijianus:before {
  content: "\e624";
}
.shijianus-icon-square-poll-vertical:before {
  content: "\e61e";
}
.shijianus-icon-universal-access:before {
  content: "\e61f";
}
.shijianus-icon-hourglass-start:before {
  content: "\e620";
}
.shijianus-icon-file-lines:before {
  content: "\e61b";
}
.shijianus-icon-stopwatch:before {
  content: "\e61c";
}
.shijianus-icon-font:before {
  content: "\e61d";
}
.shijianus-icon-creative-commons-nd-line:before {
  content: "\e617";
}
.shijianus-icon-creative-commons-by-line:before {
  content: "\e618";
}
.shijianus-icon-creative-commons-nc-line:before {
  content: "\e619";
}
.shijianus-icon-copyright-line:before {
  content: "\e61a";
}
.shijianus-icon-oranges:before {
  content: "\e614";
}
.shijianus-icon-facebook1:before {
  content: "\e63c";
}
.shijianus-icon-tiktok:before {
  content: "\e615";
}
.shijianus-icon-keyboard:before {
  content: "\e613";
}
.shijianus-icon-arrow-down:before {
  content: "\e611";
}
.shijianus-icon-scissors:before {
  content: "\f0c4";
}
.shijianus-icon-bolt:before {
  content: "\e610";
}
.shijianus-icon-circle-info:before {
  content: "\f05a";
}
.shijianus-icon-triangle-exclamation:before {
  content: "\e612";
}
.shijianus-icon-circle-check:before {
  content: "\f058";
}
.shijianus-icon-circle-minus:before {
  content: "\f056";
}
.shijianus-icon-circle-plus:before {
  content: "\f055";
}
.shijianus-icon-circle-dot:before {
  content: "\e616";
}
.shijianus-icon-copyright:before {
  content: "\e60e";
}
.shijianus-icon-qrcode:before {
  content: "\e60b";
}
.shijianus-icon-weibo:before {
  content: "\e60c";
}
.shijianus-icon-hand-heart-fill:before {
  content: "\e609";
}
.shijianus-icon-plant-fill:before {
  content: "\e60a";
}
.shijianus-icon-hashtag:before {
  content: "\e608";
}
.shijianus-icon-rss:before {
  content: "\e600";
}
.shijianus-icon-qq:before {
  content: "\e601";
}
.shijianus-icon-github:before {
  content: "\e602";
}
.shijianus-icon-bilibili:before {
  content: "\e603";
}
.shijianus-icon-paper-plane1:before {
  content: "\e607";
}
.shijianus-icon-heartbeat:before {
  content: "\e60d";
}
.shijianus-icon-jike:before {
  content: "\e649";
}
.shijianus-icon-repeat:before {
  content: "\e67a";
}
.shijianus-icon-shuffle1:before {
  content: "\e67b";
}
.shijianus-icon-arrows-rotate:before {
  content: "\e67c";
}
.shijianus-icon-pause:before {
  content: "\e67d";
}
.shijianus-icon-fw-eye:before {
  content: "\e679";
}
.shijianus-icon-bullhorn:before {
  content: "\e66f";
}
.shijianus-icon-stream:before {
  content: "\e670";
}
.shijianus-icon-caret-left:before {
  content: "\e671";
}
.shijianus-icon-folder-open:before {
  content: "\e672";
}
.shijianus-icon-thumbs-up:before {
  content: "\e673";
}
.shijianus-icon-angle-double-down:before {
  content: "\e674";
}
.shijianus-icon-sign-out-alt:before {
  content: "\e675";
}
.shijianus-icon-angle-double-left:before {
  content: "\e676";
}
.shijianus-icon-angle-double-right:before {
  content: "\e677";
}
.shijianus-icon-angle-left:before {
  content: "\e678";
}
.shijianus-icon-dice-d20:before {
  content: "\e66b";
}
.shijianus-icon-instagram:before {
  content: "\e66c";
}
.shijianus-icon-xmark:before {
  content: "\e66d";
}
.shijianus-icon-spinner:before {
  content: "\e66e";
}
.shijianus-icon-calendar-days:before {
  content: "\e60f";
}
.shijianus-icon-angle-right:before {
  content: "\e66a";
}
.shijianus-icon-pencil:before {
  content: "\e666";
}
.shijianus-icon-thumbtack:before {
  content: "\e667";
}
.shijianus-icon-location-dot:before {
  content: "\e668";
}
.shijianus-icon-fw-fire:before {
  content: "\e669";
}
.shijianus-icon-chart-line:before {
  content: "\e665";
}
.shijianus-icon-circle-xmark:before {
  content: "\e662";
}
.shijianus-icon-angle-down:before {
  content: "\e663";
}
.shijianus-icon-play:before {
  content: "\e661";
}
.shijianus-icon-paste:before {
  content: "\e65f";
}
.shijianus-icon-arrow-rotate-right:before {
  content: "\e660";
}
.shijianus-icon-radio:before {
  content: "\e659";
}
.shijianus-icon-forward:before {
  content: "\e65a";
}
.shijianus-icon-window-restore:before {
  content: "\e65b";
}
.shijianus-icon-backward:before {
  content: "\e65c";
}
.shijianus-icon-download:before {
  content: "\e65d";
}
.shijianus-icon-comment-medical:before {
  content: "\e65e";
}
.shijianus-icon-chevron-right:before {
  content: "\e655";
}
.shijianus-icon-arrows-left-right:before {
  content: "\e622";
}
.shijianus-icon-book-open:before {
  content: "\e653";
}
.shijianus-icon-list-ul:before {
  content: "\e654";
}
.shijianus-icon-comment-sms:before {
  content: "\e656";
}
.shijianus-icon-angles-right:before {
  content: "\e657";
}
.shijianus-icon-tag:before {
  content: "\e658";
}
.shijianus-icon-bars:before {
  content: "\e652";
}
.shijianus-icon-paper-plane:before {
  content: "\e605";
}
.shijianus-icon-house-chimney:before {
  content: "\e606";
}
.shijianus-icon-grip-vertical:before {
  content: "\e646";
}
.shijianus-icon-envelope:before {
  content: "\e604";
}
.shijianus-icon-music:before {
  content: "\e643";
}
.shijianus-icon-fan:before {
  content: "\e648";
}
.shijianus-icon-link:before {
  content: "\f0c1";
}
.shijianus-icon-chevron-left:before {
  content: "\e64b";
}
.shijianus-icon-rocket:before {
  content: "\e64c";
}
.shijianus-icon-lightbulb:before {
  content: "\e64d";
}
.shijianus-icon-shoe-prints1:before {
  content: "\e64e";
}
.shijianus-icon-images:before {
  content: "\e64f";
}
.shijianus-icon-box-archive:before {
  content: "\e650";
}
.shijianus-icon-artstation:before {
  content: "\e651";
}
.shijianus-icon-fish:before {
  content: "\e647";
}
.shijianus-icon-arrow-right:before {
  content: "\e627";
}
.shijianus-icon-arrow-left:before {
  content: "\e628";
}
.shijianus-icon-dice:before {
  content: "\e629";
}
.shijianus-icon-copy:before {
  content: "\e62a";
}
.shijianus-icon-cube:before {
  content: "\e62c";
}
.shijianus-icon-circle-arrow-right:before {
  content: "\f0a9";
}
.shijianus-icon-clock:before {
  content: "\e62e";
}
.shijianus-icon-book:before {
  content: "\e62f";
}
.shijianus-icon-calendar-alt:before {
  content: "\e630";
}
.shijianus-icon-eye-outline:before {
  content: "\e631";
}
.shijianus-icon-circle-half-stroke:before {
  content: "\e632";
}
.shijianus-icon-arrow-up:before {
  content: "\e633";
}
.shijianus-icon-file-word:before {
  content: "\e634";
}
.shijianus-icon-fire:before {
  content: "\e635";
}
.shijianus-icon-dove:before {
  content: "\e637";
}
.shijianus-icon-gear:before {
  content: "\e638";
}
.shijianus-icon-inbox:before {
  content: "\e639";
}
.shijianus-icon-history:before {
  content: "\e63a";
}
.shijianus-icon-magnifying-glass:before {
  content: "\e63b";
}
.shijianus-icon-message:before {
  content: "\e63d";
}
.shijianus-icon-moon:before {
  content: "\e63e";
}
.shijianus-icon-shapes:before {
  content: "\e63f";
}
.shijianus-icon-shuffle:before {
  content: "\e640";
}
.shijianus-icon-language:before {
  content: "\e641";
}
.shijianus-icon-tags:before {
  content: "\e642";
}
.shijianus-icon-train:before {
  content: "\e644";
}
.shijianus-icon-warning:before {
  content: "\f06a";
}
.shijianus-icon-ic_train:before {
  content: "\ea61";
}
.shijianus-icon-arrow-circle-right:before {
  content: "\e67f";
}
.shijianus-icon-yinle1:before {
  content: "\e888";
}
.shijianus-icon-filter-picture:before {
  content: "\e68f";
}
.shijianus-icon-comments:before {
  content: "\eb16";
}
.shijianus-icon-dengpao:before {
  content: "\e625";
}
.shijianus-icon-shoe-prints:before {
  content: "\f0b7";
}
.shijianus-icon-linggan:before {
  content: "\e6ca";
}
.shijianus-icon-sanmingzhi:before {
  content: "\fa92";
}
.shijianus-icon-zonglan:before {
  content: "\e623";
}
.shijianus-icon-danmu:before {
  content: "\e621";
}